/*
 *
 *	Created by: Nicolas Sempere
 *	Date created: 9 March 2015
 *
 */
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);


html {

	height: 100%;
	width: 100%;
}


#mapCanvas {

	height: 496px;
	width: 800px;
	margin: 0px;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	
	
}


#magic {

		font-family: "Rock Salt";
		font-size: 32px;
		text-align: center;
		
}
.oldMap {

		height: 100%;
		width: 100%;
		/*background-color: #FAEBD7;*/
}
.otherFeedBack {

		font-family: "Rock Salt";
		font-size: 32px;
		color: #AB4513;

}


