@import url(http://fonts.googleapis.com/css?family=Abel|Oswald|PT+Mono);

.danger {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	font-family: "Abel";
	font-weight: 2em;
}

.orange {
	color: #D9411E;;
}

.findings {
	margin-left: 15%;
	margin-right: 15%;
}

.snipets {
	font-family: "PT Mono";
	font-size: 0.8em;
}

body {
	margin-left: 10%;
	margin-right: 10%;
}
h1{
	font-family: "Oswald";
	font-size: 3.2em;
	text-align: left;
	color: #D9411E;
	margin-top: 0px;
	margin-bottom: 0px; 
	padding-bottom: 0px;
}

p{
	font-family: "Abel";
	font-size: 1.25em;
	color: #4B4D52;
	margin-bottom: 10px;
	margin-top: 10px;
}

h2 {
	font-family: "Oswald";
	font-size: 1.61em;
	color: #4B4D52;

}

h3 {
	font-family: "Oswald";
	font-size: 1.3em;
	color: #4B4D52;
	margin-bottom: 0px;
	margin-top: 0px;
}
