/* Your CSS here... */
@import url(http://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300);

h1 {

	font-family: Oswald;
	font-size: 36px;
}

.json_elems {

	font-family: Open+Sans+Condensed;
	font-size: 16px;
}